#chat_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    transform-origin: bottom right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.chat_line {
    color: #9FBBCC;
    background-color: #40494FEE;
    display: inline;
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
}

.chat_line[data-nick="Chat"] {
    display: none;
}
