.goldie {
    animation-duration: 5000ms;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    10% {
        opacity: 100%
    }

    80% {
        opacity: 100%;
    }

    to {
        opacity: 0;
    }
}
