#chat_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    transform-origin: bottom right;
    position: absolute;
    bottom: 0;
    right: 0;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    overflow: hidden;
    border-radius: 4px;
}

.chat_line {
    color: #9FBBCC;
    background-color: #40494FEE;
    border-radius: 4px;
    display: inline;
    padding: 4px 6px 4px 6px;
    margin: 2px;
}

.chat_line-enter {
    transform: translateX(100%);
}

.chat_line-enter-active {
    transform: translateX(0);
    transition: transform 200ms ease-out;
}

.chat_line-exit {
    transform: translateX(0);
}

.chat_line-exit-active {
    transform: translateX(100%);
    transition: transform 200ms ease-in;
}

.chat_line .message {
    word-break: break-all;
    word-wrap: break-word;
}

body {
    overflow: hidden;
    margin: 5px;
}

.nick {
    margin-left: 4px;
    font-weight: bold;
}

.badge {
    display: inline-block;
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: bottom;
    height: 14px;
    width: 14px;
    overflow: hidden;
}

.emote {
    width: auto;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}


